
    <div class="container" style="max-width:600px;padding:90px 90px;">
        <h3>Details</h3>

        <form action="/details/<%=@details.id%>" method="POST">
           <input type="hidden" name="_method" value="PUT" />
          <div class = "form-group">
            <label for="url" class = "control-label">URL:</label>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon3">http://</span>
              <input class="form-control has-error" type="url" value="<%=@details.url%>" id="url" name="url" placeholder="Your endpoint goes here" required>
            </div>
          </div>

          <div class = "form-group">
            <label for="method_name" class = "control-label" >Method:</label>
            <select class="form-control" name="method_name" id="method_name" value='<%=@details.method_name%>'required>
              <option value="GET">GET</option>
            </select>
          </div>

          <div class = "form-group">
            <label for="polling-interval" class = "control-label">Polling Interval:</label>
            <div class="input-group">
              <input type="number" class="form-control has-error" name="interval" id="interval" value="<%=@details.interval %>"  required>
              <span class="input-group-addon">sec</span>
            </div>
          </div>

          <div class="checkbox">
            <label><input type="checkbox" name="enabled" value="true" <%= @details.enabled ? "checked" : "" %> >Do you want to start it now </label>
          </div>
          
           <!-- <div class="checkbox">
            <% if @details.enabled? %>
              <label><input type="checkbox" name="enabled" value="true" checked="checked">Do you want to start it now </label>
            <% else%>
              <label><input type="checkbox" name="enabled" value="false" >Do you want to start it now </label>
            <% end%>
          </div> -->

          <div class = "form-group">
            <div class = "col-sm-offset-8 col-sm-12">
              <button type = "reset" class = "btn btn-default">Reset</button>
              <button type = "submit" class = "btn btn-primary">Edit</button>
            </div>
          </div>
        </form>

    </div>